{% extends "main/base.html" %}
{% block content %}

		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-clouds">
				<div class="container">
					<header class="content-header content-header-small content-header-uppercase">
						<h1>
                            ورود به پنل کاربری
                        </h1>
						<p>

						</p>
					</header>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
                    <div class="row">
                         <div class="row">
                    <div class="col col-lg-12">
                        {% if errors %}
                            <h4 style="text-align: center ; color:red">
                                {{ errors }}
                            </h4>
                        {% endif %}
                    </div>
                </div>
                    </div>
					<div class="column-row align-center">
						<div class="column-50">
							<form class="form-full-width" method="post">
                                {% csrf_token %}
								<div class="form-row">
									<label for="form-tel">شماره موبایل</label>
									<input id="form-tel" type="tel" name="phone">
								</div>
								<div class="form-row">
									<label for="form-password">رمزعبور</label>
									<input id="form-password" type="password" name="password">
								</div>
								<div class="form-row">
									<input id="form-login" type="checkbox" name="login" checked>
									<label for="form-login">جلسه ورود به سیستم من را در این رایانه ذخیره کنید</label>
								</div>
								<div class="form-row">
									<button class="button-secondary"><i class="fas fa-lock icon-left"></i> تأیید</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<div class="column-row align-center">
						<div class="column-50 text-align-center">
							<p class="text-color-gray">ثبت نام نکرده اید ؟! همین حالا ثبت نام کنید !<br>
								<a href="{% url 'accounts:signup' %}">ثبت نام<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
					</div>
				</div>
			</section>
		</section>

{% endblock %}
