{% extends "main/base.html" %}
{% block content %}

    <!-- Content -->
    <section id="content">
    <!-- Content Row -->
    <section class="content-row content-row-color content-row-clouds">
        <div class="container">
            <header class="content-header content-header-small content-header-uppercase">
                <h1>
                    کاربر گرامی درخواست شما با موفقیت ثبت شد . </h1>
                <p>
                    در مدت 48 ساعت کاری آینده کارشناسان ما اطلاعات حساب شما را بررسی خواهند کرد . </p>
            </header>
        </div>
    </section>

{% endblock %}
